{{template "header.html" .}}

<header style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>Editing {{.title}}</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
	<form action="/save/{{.title}}" method="POST">
		<div><textarea name="body" rows="10" cols="80">{{printf "%s" .body}}</textarea></div>
		<div><input type="submit" value="save"></div>
	</form>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
